body {
  background-color: #111;
  color: #fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: clamp(16px, 2.5vw, 24px);
}

.sticky {
  max-width: 450px;
  margin: 0 auto;
  position: sticky;
  top: 35px;
  left: 0;
}

.wrapper-section {
  height: 500vh;
  margin-bottom: 70px;
}

.character {
  will-change: opacity;
}
